#sidebar
{
    top:0;
    left:0;
    width:20%;
    float:left;
    padding-top:5%;
    padding-left:5%;
}
#main
{
    width:70%;
    float:right;
    margin-right:5%;
}
#nav
{
    list-style:none;
}

h1
{
    text-align:center;
}

/* resume */
.workhx
{
    margin:2em;
}
.formerly
{
    font-size:small;
}
.dates
{
    display:block;
    font-size:smaller;
}
.position
{
    display:block;
    font-size:small;
}
.tech
{
    text-align:center;
    background-color:#eee;
    border:1px solid #ccc;
    margin:auto 2em;
}
.tech img
{
    margin:.5em;
}