---
layout: default
title: resume
workxps:
- company: 'Wizards of the Coast'
  company_url: 'http://wizards.com'
  position: 'Software Developer'
  contract: true
  start: '2013-05'
  end: null
  tech: 
  - p4
  - dotnet
- company: 'MCG Health, LLC (formerly Milliman Care Guidelines)'
  position: 'Software Development Engineer'
  start: '2011-10'
  end: '2013-05'
  tech:
  - tfs
  - dotnet
  - mssql
  - oracle
  - svn
  - powershell
  - vshpere
  bullets:
  - On development team of the flagship product
  - Was the only developer for a customer preview site of new functionality in flagship product
  - Agile / Scrum style development practices, supported by a white board and TFS for source code and work item tracking
  - Development against multiple RDBMS environment types, in both clean and upgrade installation scenarios.
- company: 'Ventyx, an ABB Company (formerly Insert Key Solutions, Inc)'
  company_url: 'http://ventyx.com'
  position: 'Software Developer / Analyst'
  start: '2006-11'
  end: '2001-10'
  tech:
  - tfs
  - vss
  - dotnet
  - mssql
  - oracle
  bullets:
  - Gather and analyze requirements from the customer
  - Design, develop and maintain web application software in C# / ASP.NET versions 1.1, 2.0 and 3.5 & ASP.NET AJAX, including utilization of third-party libraries
  - Spearheaded an effort to develop and utilize a set of in-house libraries (responsibility later transferred to another developer)
  - Design, develop and maintain databases in Oracle 9i, 10g and 11g, as well as Microsoft SQL Server 2000, 2005 and 2008
  - Maintain source code with Visual Source Safe, both the standalone client and integrated with Visual Studio 2003, 2005 and 2008.
  - Agile development, using Visual Studio 2010 and Team Foundation Server integration for maintenance of source code and issue tracking.
  - Loading of legacy data from customer sources,  typically Excel spreadsheets and Access databases
- company: 'Exelon Business Services Company'
  company_url: 
  contract: true
  position: 'SQL Query Analyzer'
  start: '2006-07'
  end: '2006-11'
  tech:
  - msaccess
  bullets:
  - Analysis of disparate, legacy data sources (typically Excel spreadsheets and Access databases), and loading that data into a new, centralized database.
---

<hgroup>
    <h1>Work History</h1>    

    {% for workxp in page.workxps %}
        <div class="work-ex">
            <h2>
                {{ workxp.company }}
                {% if workxp.company_url %}
                <a href="{{ workxp.company_url }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVElEQVR42n3PgQkAIAhEUXdqJ3dqJ3e6IoTPUSQcgj4EQ5IlUiLE0Jil3PECXhcHGBhZ8kg4hwxAu3MZeCGeyFnAXp4hqNQPnt7QL0nADpD6wHccLvnAKksq8iiaAAAAAElFTkSuQmCC">
                </a>
                {% endif %}
                <div>
                <small>
                    <time datetime="{{ workxp.start }}">{{ workxp.start | append: '-01' | date: '%B %Y' }}</time> to 
                    {% if workxp.end %}
                        <time datetime="{{ workxp.end }}">{{ workxp.end | append: '-01' | date: '%B %Y' }}</time>
                    {% else %}
                        present
                    {% endif %}
                    {% if workxp.contract %}
                    [contract]
                    {% endif %}                    
                </small>
                <div>
            </h2>
            <h4>
                {{ workxp.position }} 
            </h4>
            <ul>
                {% for bullet in workxp.bullets %}
                <li>{{ bullet }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</hgroup>