---
layout: default
title: resume
tech:
- &svn
    img: svn
    alt: Subversion
- &p4
    img: p4
    alt: Perforce
- &dotnet
    img: dotnet
    alt: .NET
- &oracle
    img: oracle
    alt: Oracle
- &sqlserver
    img: sqlserver
    alt: Microsoft SQL Server
- &msaccess
    img: msaccess
    alt: Microsoft Access
- &powershell
    img: powershell
    alt: PowerShell
- &jquery
    img: jquery
    alt: jQuery
workhxs:
- company: 'Wizards of the Coast'
  company_url: 'http://wizards.com'
  position: 'Software Developer'
  contract: true
  start: '2013-05'
  end: null
  techs: 
  - *p4
  - *dotnet
  - *sqlserver
  - *jquery
  bullets:
  - Worked on PlanesWalkerPoints.com, a leaderboard site for players of Magic the Gathering, written in .NET MVC
  - Utilized JQuery for front end javascript
  - Worked on a few internal-facing sites written in a combination of ASP.NET Webforms and MVC
  - Developed and consumed WCF based webservices
  - Worked on several internal tools written in WPF
- company: 'MCG Health, LLC'
  company_formerly: 'Milliman Care Guidelines'
  company_url: 'http://careguidelines.com/'
  position: 'Software Development Engineer'
  start: '2011-10'
  end: '2013-05'
  techs:
  - *svn
  - *dotnet
  - *sqlserver
  - *oracle
  - *powershell
  bullets:
  - Worked on the development team of the flagship product, including as the sole developer for a customer preview site of new functionality
  - Utilized Agile / Scrum style development practices in a small team, supported by a White Board and TFS for work item tracking, and TFS for source control. Prior to transitioning to TFS, we used Subversion for source control.
  - Developed Sql Server and Oracle versions of the database, in both clean and upgrade installation scenarios.
  - Developed a Powershell module to simplify our existing process of creationg / upgrading the databases on dev boxes, and for switching between multiple environments.
- company: 'Ventyx, an ABB Company'
  company_formerly: 'Insert Key Solutions, Inc.'
  company_url: 'http://ventyx.com'
  position: 'Software Developer / Analyst'
  start: '2006-11'
  end: '2001-10'
  techs:
  - *dotnet
  - *sqlserver
  - *oracle
  bullets:
  - Gathered and analyzed requirements from customers
  - Developed web applications in ASP.NET Web Forms 
  - Developed Sql Server and Oracle based backends
  - Created installation / upgrade scripts, and performed installation in customer environments.
  - Spearheaded an effort to develop and utilize a set of in-house libraries (responsibility later transferred to another developer)
  - Agile development, using Visual Studio 2010 and Team Foundation Server integration for maintenance of source code and issue tracking.
  - Loaded legacy data from customer sources,  typically Excel spreadsheets and Access databases
  - Development of intregration procedures for communication between our applications and the customers' other systems
- company: 'Exelon Business Services Company'
  company_url: 'http://exeloncorp.com'
  contract: true
  position: 'SQL Query Analyzer'
  start: '2006-07'
  end: '2006-11'
  techs:
  - *msaccess
  - *sqlserver
  bullets:
  - Analysed disparate, legacy data sources (typically Excel spreadsheets and Access databases), and loaded that data into a new, centralized database.
---

    <h1>Work History</h1>    

{% for workhx in page.workhxs %}
    <div class="workhx">
        <h2>
            {% if workhx.company_url %}
                <a href="{{ workhx.company_url }}">{{ workhx.company }}</a>
            {% else %}
                {{ workhx.company }}
            {% endif %}
            
            {% if workhx.company_formerly %}
                <span class="formerly">
                    (formerly <em>{{ workhx.company_formerly }})</em>
                </span>
            {% endif %}
            
            <span class="dates">
                <time datetime="{{ workhx.start }}">{{ workhx.start | append: '-01' | date: '%B %Y' }}</time> to 
                {% if workhx.end %}
                    <time datetime="{{ workhx.end }}">{{ workhx.end | append: '-01' | date: '%B %Y' }}</time>
                {% else %}
                    present
                {% endif %}
                {% if workhx.contract %}
                (contract)
                {% endif %}                    
            </span>
            <span class="position">
                {{ workhx.position }} 
            </span>
        </h2>
        <div class="tech">
            {% for tech in workhx.techs %}
                <img src="img/{{tech.img}}.png" alt="{{tech.alt}}" />
            {% endfor %}
        </div>
        <ul>
            {% for bullet in workhx.bullets %}
            <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}