$base-color: #34193a;

$background-color: $base-color;
$text-color: white;
$line-color: #4a306d;

$shadow: lighten(black, 40%);

body {
  background-color: $background-color;
  color: $text-color;

  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

    margin:0;
}

%container {
  padding: 3em;

  color: $text-color;
}

header {
  background: $background-color;

  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 10rem;

  text-align: center;
  text-shadow: .02em .02em .03em $shadow;

  padding-top: .25em;
}

a {
  color: $text-color;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;

  text-align: center;

  margin: 2em;

  span {
    flex-grow: 1;

    border: .1em solid $line-color;

    background-color: lighten($base-color, 5%);

    a {
      display: inline-block;
      width: 100%;
      padding: 1em;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;

  article {
    @extend %container;
    flex-grow: 1;

    margin-left:10em;
  }

  address {
    @extend %container;
    align-self: flex-start;

    background-color: lighten($base-color, 5%);

    border: .1em solid $line-color;

    margin-right: 3em;

    .img-frame {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.sect2 {
  padding-top: 2em;
}
